<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <div class="container theme-showcase" role="main">
        <div class="jumbotron ingredients">
            <h1>Add everything you had</h1>
        </div>
        <!--<form method="post" th:action="@{'/create'}" th:object="${meal}" role="form">-->
        <form method="post" th:object="${foodItem}" role="form">
            <div class="form-group">
                <label class="mr-sm-2" for="formSelect"><h4>Ingredient</h4></label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="formSelect" th:field="*{foodoption_id}">
                    <option th:each="type : ${types}"
                            th:value="${type.code}"
                            th:text="${type.description}"></option>
                </select>
            </div>
            <!--<div class="form-group inline">-->
            <!--<label for="number-input" class="col-2 col-form-label"><h4>Calorie Count</h4></label>-->
            <!--<input class="form-control" type="number" id="number-input" th:field="*{carbohydrate}"/>-->
            <!--</div>-->
            <div class="form-group">
                <label for="meal_description"><h4>Description</h4></label>
                <textarea id="meal_description" class="form-control" name="meal_description" placeholder="What did you eat exactly?" rows="5" th:field="*{description}"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">
                    Add ingredients
                </button>
            </div>
        </form>
    </div>
</div>
</html>